/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
	background-color: #F7F7F7;
	background-image: url("/images/debut_light.png");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
}

.card {
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	perspective: 1000;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
}

.card:hover {
	perspective: 5000;
	-webkit-perspective: 5000;
	-moz-perspective: 5000;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.clear {
	clear: both;
}

.client {
	border: 1px solid silver;
	text-align: center;
	padding: 10px 0;
	background-image: url("/images/otis_redding.png");
	background-color: gray;
	margin-bottom: 20px;
	transform: rotateY(30deg);
	-webkit-transform: rotateY(30deg);
	-moz-transform: rotateY(30deg);
}

.client .client-name {
	position: absolute;
	top: 60px;
	left: 0px;
	display: inline-block;
	max-width: 75%;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid white;
	border-left: none;
	padding: 5px;
	background-color: #3fa757;
	color: white;
	font-weight: bold;
	font-size: large;
}

.client:hover {
	background-image: none;
	background-color: #EBEBEB;
	cursor: pointer;
}

.client:hover .client-name {
	background-image: none;
	background-color: #EBEBEB;
	color: gray;	
	border: 1px solid silver;
	border-left: none;
}

.client:hover h5 {
	color: gray;
}

.client h5 {
	color: #EBEBEB;
}

.client img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid silver;
}

#client-box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#client-box p {
	max-width: 800px;
}

code {
	margin: 0 0 20px 0;
}

#contact-form {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	box-shadow: silver 1px 1px 1px;
	padding: 10px;
	border: 1px solid silver;
}

#contact-form input, #contact-form textarea {
	width: 450px;
}

.content ul {
	margin-left: 30px;
}

.content li {
	list-style: disc outside none;
	margin-bottom: 0;
}

div.container {
	background-image: none;
	background-color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #EBEBEB;
	margin-top: 0px;
	margin-bottom: 20px;
	box-shadow: none;
}

#Facebook {
	background-position: 0 0;
}

footer {
	padding: 10px;
	text-align: center;
	margin-top: 10px;
	border-top: 1px solid silver;
	background-color: #EBEBEB;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

footer hr {
	margin-bottom: 10px;
}

#Github {
	background-position: -51px 0;
}

#Google-plus {
	background-position: -101px -1px;
}

.container > header {
	display: block;
	background-image: url(/images/catania-park.jpg);
	clear: both;
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: 0 -140px;
}

#header-img {
	float: left;
	height: 120px;
	margin: 10px;
	border-radius: 10px;
}

.header-text {
	background-color: white;
	opacity: .93;
	border-radius: 10px;
	top: 50px;
	position: absolute;
	margin: 10px;
	padding: 10px;
	vertical-align: middle;
}

hr.large {
	background: none repeat scroll 0 0 silver;
	border: medium none;
	height: 8px;
	margin: 50px 0;
	border-radius: 2px;
}

.icon {
	background-image: url('/images/icon-sprites2.png');
	width: 48px;
	height: 48px;
	display: inline-block;
}

img.certification {
	width: 300px;
}

#Linkedin {
	background-position: -150px 0;
}

#linkedin-profile {
	width: 364px;
	height: 142px;
}

nav {
	display: block;
	text-align: center;
	border-top: 1px solid silver;
	min-height: 47px;
	background-image: url("/images/otis_redding.png");
	background-color: gray;
}

nav .content a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	height: 35px;
	display: inline-block;
	padding: 12px 25px 0;
}

nav .content a:hover,nav .content a.active {
	background-color: gray;
	box-shadow: inset 0px 1px 8px #333;
}

nav .content ul {
	display: block;
	margin: 0 auto;
	text-align: center;
	list-style: none;
}

nav ul li {
	display: inline;
}

nav ul li:last-child {
	border-right: none;
}

.pagination {
	margin-top: 10px;
	margin-bottom: 10px;
}

pre {
	white-space: pre-wrap;
}

pre code {
	background: #f6f6f6;
	border: 1px solid #eee;
	display: block;
	overflow: auto;
	padding: 10px 14px;
}

#rss {
	background-position: -251px 0;
}

section {
	border-top: 1px solid silver;
	padding-top: 1em;
	margin-bottom: 1em;
}

.tweet_list {
	background-color: #F7F7F7;
	border: 1px solid #EBEBEB;
	border-radius: 2px;
	font-size: x-small;
	margin-right: 10px;
	padding: 2px;
}

.tweet_list li {
	background-color: white;
	border: 1px solid silver;
	border-radius: 2px;
	padding: 2px;
	overflow: hidden;
}

#Twitter {
	background-position: -200px 0;
}

.twitter-follow-button {
	text-indent: -9999px;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.client img {
		width: 120px;
		height: 120px;
	}
	header {
		background-size: 125%;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.client {
		margin: 10px;
		-webkit-transform: none;
		-moz-transform: none;
	}
	.client .client-name {
		left:10px;
	}
	.header-text {
		top: 20px;
	}
	nav {
		padding: 0;
		background: none;
	}
	nav .content a,nav .content a:visited {
		border-top: 1px solid grey;
		background-color: silver;
		color: white;
		display: block !important;
		padding: 10px;
		font-size: large;
		height: auto;
	}
	nav li:first-child a {
		border-top: none;
	}
	nav .content a:hover,nav .content a.active {
		background-color: white;
		color: grey;
		box-shadow: none;
	}
	nav ul li {
		border-right: none;
		padding: 0;
	}
	nav .content  ul {
		margin-left: 0;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#client-box img,#client-box p {
		max-width: 460px;
	}
	.container .column>*,.container .columns>* {
		padding-left: 5px;
		padding-right: 5px;
	}
	header {
		background-size: 220%;
		background-position: -200px -140px;
	}
	img {
		max-width: 410px;
	}
	.tweet_list {
		margin-right: 0px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#client-box img,#client-box p {
		max-width: 320px;
	}
	.container .column>*,.container .columns>* {
		padding-left: 2px;
		padding-right: 2px;
	}
	header {
		background-size: 300%;
		background-position: -300px -140px;
	}
	header img {
		display: none;
	}
	img {
		max-width: 295px;
	}
	#linkedin-profile {
		width: 295px;
		overflow: hidden;
	}
	.tweet_list {
		margin-right: 0px;
	}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
		font-family: 'FontName';
		src: url('../fonts/FontName.eot');
		src: url('../fonts/FontName.eot?iefix') format('eot'),
			 url('../fonts/FontName.woff') format('woff'),
			 url('../fonts/FontName.ttf') format('truetype'),
			 url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
		font-weight: normal;
		font-style: normal; }
*/