/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
	background-color: #F7F7F7;
	background-image: url("/images/debut_light.png");
	background-repeat:repeat;
	background-attachment:fixed;
	background-position:center; 
}

.clear {
	clear:both;
}

.content ul {
	margin-left: 30px;
}

.content li {
	list-style: disc outside none;
	margin-bottom: 0;
}

div.container {
	background-image: none;
	background-color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #EBEBEB;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-top: 40px;
	box-shadow: none;
}

#Facebook{
	background-position: 0 0;
}

footer {
	padding: 10px;
	text-align: center;
	margin-top: 10px;
	border-top: 1px solid silver;
	background-color: #EBEBEB;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#Github{
	background-position: -51px 0;
}

#Google-plus{
	background-position: -101px -1px ;
}

hr.large {
	background: none repeat scroll 0 0 silver;
	border: medium none;
	height: 8px;
	margin: 50px 0;
	border-radius: 2px;
}

.icon {
	background-image:url('/images/icon-sprites.png');
	width: 48px;
	height: 48px;
	display: inline-block;
}

#Linkedin{
	background-position: -150px 0;
}


#linkedin-profile {
	width: 364px;
	height: 142px;
}

nav {
	display: block;
	text-align: center;
	border-top: 1px solid silver;
	margin: 10px auto 0;
	min-height: 35px;
	padding: 12px 0 0;
}

nav ul {
	display: block;
	margin: 0 auto;
	text-align: center;
	list-style: none;
}

nav ul li {
	display: inline;
	border-right: 1px solid silver;
	padding: 0 25px 0;
}

nav ul li:last-child {
	border-right: none;
}

section {
	border-top: 1px solid silver;
	padding-top: 1em;
	margin-bottom: 1em;
}

.tweet_list {
    background-color: #F7F7F7;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    font-size: x-small;
    margin-right: 10px;
    padding: 2px;
}

.tweet_list li {
    background-color: white;
    border: 1px solid silver;
    border-radius:2px;
    padding: 2px;
    overflow: hidden;
}

#Twitter{
	background-position: -200px 0;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container .column>*,.container .columns>* {
		padding-left: 5px;
		padding-right: 5px;
	}
		
	.tweet_list {
	    margin-right: 0px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.container .column > *,.container .columns > * {
		padding-left: 2px;
		padding-right: 2px;
	}
		
	#linkedin-profile {
		width: 295px;
		overflow:hidden;
	}
		
	.tweet_list {
	    margin-right: 0px;
	}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/