a {
    color:#337ab7;
    text-decoration:none;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

/* Logo */
#logo {
    background-image: url(https://www.danklco.com/images/catania-park.jpg);
    background-size:cover;
    height: 200px;
    margin-bottom: 0;
    border-bottom: none;
}

#logo::after{
	content: "Contact Dan Klco!";
	text-indent: 0;
	color: black;
	font-size: 35px;
	background: rgba(255,255,255,0.85);
	margin:10px;
	padding:10px;
	height:100px;
	display:block;
	border-radius: 10px;
}

/* Backgrounds */
html{
	background-color: #f4f4f4 !important;
	font-family: Lato, sans-serif !important;
}

#container{
    background: rgba(255,255,255,1);
}
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF url(/images/fieldbg.gif) repeat-x top}
.wufoo .focused{background:#FFF7C0}
.wufoo .instruct{background-color:#F5F5F5}

/* Borders */
.wufoo .info{border-bottom:1px dotted #CCCCCC}
.wufoo .instruct{border:1px solid #e6e6e6}

/* Typography */
.wufoo .info h2{font-size:160%;font-family:inherit;color:#000000}
.wufoo .info div{font-size:95%;font-family:inherit;color:#444444}
.wufoo .section h3{font-size:110%;font-family:inherit;background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:inherit;color:#333333}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:inherit;color:#444444
}