RewriteEngine On

# Redirect to https
RewriteCond %{HTTPS} !^on$
RewriteRule (.*) https://www.danklco.com/$1 [R,L]

# Redirect non-www to www
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

# Redirect /sarah to sarah.danklco.com
RewriteCond %{REQUEST_URI} ^/sarah\/?
RewriteRule (.*) http://sarah.danklco.com/ [R=301,L]

# Redirect, removing trailing slashes
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\/\ HTTP/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

# Rewrite requests to pull the .html page if no extension is specified
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

# Redirect requests for .html to the non-.html URL
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# Redirect the old post URLs to the new ones
Redirect Permanent /2013/01/07/jekyll-init-script/ /posts/2013/01/07/jekyll-init-script/
Redirect Permanent /2009/10/14/vault-port-80/ /posts/2009/10/14/vault-port-80/

# cache images and flash content for one month
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# cache text, css, and javascript files for one week
<FilesMatch ".(js|css|pdf|txt|woff)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# cache html and htm files for one day
<FilesMatch ".(html|htm)$">
Header set Cache-Control "max-age=43200, public"
</FilesMatch>

# disable directory browsing
Options All -Indexes

# set the error page
ErrorDocument 404 /404.html

# Compress text files
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript

# Security Protection
Header set X-Frame-Options SAMEORIGIN
Header set X-Frame-Options DENY
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
