---
layout: home
title: Home
summary: "Dan Klco's home page on the web. Technical and other thoughts largely around AEM and Apache Sling."
---

<div class="recent-activity">
	<div class="columns-wrapper" data-total-pages="{{paginator.total_pages}}">
		{% if paginator.page != 1 %}
			<div class="columns-header transparent-block-inverse text-center">
				<strong>
					Page {{ paginator.page }}
				</strong>
			</div>
		{% endif %}
		<section itemscope itemtype="http://schema.org/Blog" class="columns page-{{paginator.page}}">
			{% for post in paginator.posts %}
				<article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" class="pin"> 
					{% if post.original %}
						{% assign url = post.original %}
					{% else %}
						{% assign url = post.url %}
					{% endif %}
					<a href="{{url}}" {% if post.original %}target="_blank"{% endif %} title="{{post.title}}" itemprop="url">
						{% if post.thumbnail %}
							<img itemprop="image" src="{{ post.thumbnail | replace: '/posts/', '/post-thumbs/' }}" title="{{post.title}}" />
						{% else %}
							<img itemprop="image" src="//placehold.it/250x120?text={{post.title}}" title="{{post.title}}" />
						{% endif %}
						<h5 itemprop="headline">
							{{post.title}}
						</h5>
						<div>
							<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <em itemprop="datePublished">{{post.date | date: "%b %d %Y"}}</em>
						</div>
					</a>
				</article>
			{% endfor %}
		</section>
	</div>
</div>
{% if paginator.total_pages != 1 %}
	{% if paginator.next_page %}
		<a href="/page{{paginator.next_page}}/" class="btn btn-default center-block next-page">More</a>
	{% endif %}
{% endif %}