---
layout: home
title: Home
summary: "Dan Klco's home page on the web. Technical and other thoughts largely around AEM and Apache Sling."
---

<div class="recent-activity">
	<div class="columns-wrapper" data-total-pages="{{paginator.total_pages}}">
		{% if paginator.page != 1 %}
			<div class="columns-header transparent-block-inverse text-center">
				<strong>
					Page {{ paginator.page }}
				</strong>
			</div>
		{% endif %}
		<section itemscope itemtype="http://schema.org/Blog" class="columns page-{{paginator.page}}">
			{% for post in paginator.posts %}
				<article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" class="pin"> 
					{% if post.original %}
						{% assign url = post.original %}
					{% else %}
						{% assign url = post.url %}
					{% endif %}
					<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ url }}"/>
					<a href="{{url}}" {% if post.original %}target="_blank"{% endif %} title="{{post.title}}" itemprop="url">
						{% if post.thumbnail %}
							<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
								<img src="{{ post.thumbnail | replace: '/posts/', '/post-thumbs/' }}" title="{{post.title}}"/>
								<meta itemprop="url" content="{{site.url}}{{ post.thumbnail | replace: '/posts/', '/post-thumbs/' }}">
							</div>
							<img itemprop="image" src="" title="{{post.title}}" />
						{% else %}
							<img  src="//placehold.it/250x120?text={{post.title}}" title="{{post.title}}" />
						{% endif %}
						<h5 itemprop="headline">
							{{post.title}}
						</h5>
						<div>
							<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <em itemprop="datePublished">{{post.date | date: "%b %d %Y"}}</em>
						</div>
					</a>
					<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
						<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
							<meta itemprop="url" content="https://www.danklco.com/images/me.jpg" />
							<meta itemprop="width" content="249">
							<meta itemprop="height" content="249">
						</div>
						<meta itemprop="name" content="Dan Klco">
					</div>
					<meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}"/>
  					<meta itemprop="dateModified" content="{{ post.date | date_to_xmlschema }}"/>
				</article>
			{% endfor %}
		</section>
	</div>
</div>
{% if paginator.total_pages != 1 %}
	{% if paginator.next_page %}
		<a href="/page{{paginator.next_page}}/" class="btn btn-default center-block next-page">More</a>
	{% endif %}
{% endif %}
