<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand hidden-lg hidden-md" href="#">{{site.name}}</a>
		</div>
		<div class="collapse navbar-collapse" id="main-nav">
			<ul class="nav navbar-nav">
				{% if page.url == '/index.html' %}
					<li class="active"><a href="/">Home</a></li>
				{% else %}
					<li><a href="/">Home</a></li>
				{% endif %}
				{% if page.url == '/my-work.html' %}
					<li class="active"><a href="/my-work">My Work</a></li>
				{% else %}
					<li><a href="/my-work.html">My Work</a></li>
				{% endif %}
				{% if page.url == '/curriculum-vitae.html' %}
					<li class="active"><a href="/curriculum-vitae">Curriculum Vitae</a></li>
				{% else %}
					<li><a href="/curriculum-vitae.html">Curriculum Vitae</a></li>
				{% endif %}
				{% if page.url == '/projects.html' %}
					<li class="active"><a href="/projects">Projects</a></li>
				{% else %}
					<li><a href="/projects.html">Projects</a></li>
				{% endif %}
				{% if page.url == '/contact.html' %}
					<li class="active"><a href="/contact">Contact</a></li>
				{% else %}
					<li><a href="/contact.html">Contact</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>