<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% if page.title %} {{ page.title }} | {% endif %} DanKlco.com</title>
		{% if page.tags %}<meta content="{{page.tags | join: ', '}}" name="keywords" />{% endif %}
		{% if page.summary %}<meta content="{{ page.summary }}" name="description" />{% endif %}
		<meta content="{{ site.author }}" name="author" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
		<meta property="og:site_name" content="DanKlco.com"/>
		<meta property="og:type" content="blog"/>
		<meta property="og:title" content="{% if page.title %} {{ page.title }} | {% endif %} DanKlco.com"/>
		<meta property="og:image" content="{{ site.url }}/images/me.jpg"/>
		{% if page.original %}
			<meta property="og:url" content="{{page.original}}"/>
			<link rel="canonical" href="{{ page.original }}" />
		{% else %}
			<meta property="og:url" content="{{ site.url }}{{page.url | remove: 'index.html' | replace: '.html', '' | replace: ' ', '%20' }}"/>
			<link rel="canonical" href="{{ site.url }}{{page.url | remove: 'index.html' | replace: '.html', '' | replace: ' ', '%20' }}" />
		{% endif %}
{% bundle %}[ /css/bootstrap.min.css, /css/bootstrap-theme.min.css, /css/custom.css ]{% endbundle %}
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="DanKlco.com RSS Feed" />
		<link rel="author" href="https://plus.google.com/109214091683324297793"/>
	</head>
	<body vocab="http://schema.org/" itemscope itemtype="http://schema.org/WebPage">
		<div class="container">
			<header class="page-header row">
				<div class="content" typeof="Person">
					<a href="/" title="Home">
						<img src="/images/me.jpg" alt="Me on Mt. Etna" width="120" height="120" property="photo" class="pull-left img-rounded img-responsive"  />
					</a>
					<h1 property="name">Daniel Klco</h1>
					<p property="description">
						Hello. I am a programmer and Web Content Management specialist based out of Cincinnati, Ohio. 
						Currently working as an Associate Director at <a href="http://www.sixdimensions.com" title="My Employer">Six Dimensions</a> and specializing in the Adobe Experience Manager and Adobe Marketing Cloud platforms.
						<a href="//plus.google.com/109214091683324297793?rel=author" rel="publisher" target="_top" style="text-decoration:none;">
							<img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" width="16" height="16" />
						</a>
					</p>
				</div>
			</header>
			{% include nav.html %}
			{{ content }}
			<footer class="transparent-block-inverse row">
				Copyright &copy; 2012 -  {{ site.author }} | <a href="/search" title="Search Site">Search</a>
				<br/>
				<hr/>
				<br/>
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US">
					<img alt="Creative Commons License" width="88" height="31" src="/images/cc-license.png" />
				</a><br />
				This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License</a>.
			</footer>
		</div>
{% bundle %}[//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js, /js/bootstrap.min.js, /js/custom.js] {% endbundle %}
		<script>
			var track = true;
			try {
				if (window.location.search == '?track=false') {
					window.localStorage.setItem('track', 'false');
					track = false;
				}
				if (window.localStorage.getItem('track') == 'false') {
					track = false;
				}
			} catch(e) {
				// problem occurred with local storage
			}
			var _gaq = _gaq || [];
			if (track) {
				_gaq.push(['_setAccount', 'UA-37209568-1']);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			}
		</script>
	</body>
</html>
