<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %} {{ page.title }} | {% endif %} DanKlco.com</title>
		<meta content="{{ site.author }}" name="author" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
		<meta property="fb:app_id" content="313766222068236" />
		<link href="/css/base.css" rel="stylesheet" />
		<link href="/css/skeleton.css" rel="stylesheet" />
		<link href="/css/layout.css" rel="stylesheet" />
		<link href="/css/colorbox.css" rel="stylesheet" />
		<link rel="shortcut icon" href="/favicon.ico" />
	</head>
	<body>
		<div class="container">
			<header>
				<div class="header-text">
					<img src="/images/me.jpg" alt="Me on Mt. Etna" />
					<h1>Daniel Klco</h1>
					<p>
						Hello. I am a programmer and Web Content Management specialist based out of Dayton, Ohio. 
						Currently working as a Technical Lead at <a href="http://www.sixdimensions.com" title="My Employer">Six Dimensions</a> and specializing in the Adobe CQ platform.
					</p>
				</div>
			</header>
			<div class="clear"></div>
			<nav>
				<div class="sixteen columns content">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/my-work.html">My Work</a></li>
						<li><a href="/curriculum-vitae.html">Curriculum Vitae</a></li>
						<li><a href="/projects.html">Projects</a></li>
					</ul>
				</div>
			</nav>
			<div class="clear"></div>
			{{ content }}
			<div class="clear"></div>
			<footer>
				Copyright &copy; 2012 -  {{ site.author }}<br/>
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US">
					<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" />
				</a><br />
				This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License</a>.
			</footer>
		</div>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/js/jquery.tweet.js"></script>
		<script src="/js/jquery.colorbox-min.js"></script>
		<script>
			jQuery(function($){
				$("#tweets").tweet({
					username: "klcodanr",
					count: 5
				});
				$('.client').each(function(index,elem){
					if((index + 3) % 3 == 0){
						$(elem).parent('div').addClass('offset-by-two');
						$(elem).parent('div').css('clear','both');
					}
					$(elem).click(function(){
						var id = $(elem).attr('id');
						$.colorbox.close();
						$('#client-box img').attr('src','/images/clients/'+id+'.png');
						$('#client-box img').load(function(){
							$.colorbox.resize();
						});
						var url = '/curriculum-vitae.html ';
						if($(elem).attr('data-id')){
							url += $(elem).attr('data-id');
						} else {
							url += '#'+id;
						}
						$('#client-box p').load(url, {}, function(){
							$('#client-box').show();
							$.colorbox({
						        inline:true,
						        href: '#client-box',
						        title:$(elem).find('h5').text(),
						        onClosed: function(){
						        	$('#client-box').hide();
						        	$('#client-box img').attr('src','/images/loading.gif');
						        }
						    });
							$.colorbox.resize();
						});
						return false;
					});
				});
			});
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37209568-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>