<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% if page.title %} {{ page.title | strip_html }} | {% endif %} DanKlco.com</title>
		{% if page.tags %}<meta content="{{page.tags | join: ', '}}" name="keywords" />{% endif %}
		{% if page.summary %}<meta content="{{ page.summary | strip_html | truncatewords: 50 }}" name="description" />{% endif %}
		<meta content="{{ site.author }}" name="author" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
		<meta property="og:site_name" content="DanKlco.com"/>
		<meta property="og:type" content="blog"/>
		<meta property="og:title" content="{% if page.title %} {{ page.title }} | {% endif %} DanKlco.com"/>
		{% if page.thumbnail %}
			<meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}"/>
		{% else %}
			<meta property="og:image" content="{{ site.url }}/images/me.jpg"/>
		{% endif %}
		{% if page.original %}
			<meta property="og:url" content="{{page.original}}"/>
			<link rel="canonical" href="{{ page.original }}" />
		{% else %}
			<meta property="og:url" content="{{ site.url }}{{page.url | remove: 'index.html' | replace: '.html', '' | replace: ' ', '%20' }}"/>
			<link rel="canonical" href="{{ site.url }}{{page.url | remove: 'index.html' | replace: '.html', '' | replace: ' ', '%20' }}" />
		{% endif %}
[ /css/bootstrap.min.css, /css/bootstrap-theme.min.css, 'http://fonts.googleapis.com/css?family=Lato', /css/font-awesome.min.css, /css/custom.css ]
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="DanKlco.com RSS Feed" />
		<link rel="author" href="https://plus.google.com/109214091683324297793"/>
	</head>
	<body vocab="http://schema.org/" itemscope itemtype="http://schema.org/WebPage">
		<div class="container">
			<header class="page-header row">
				<div class="content" typeof="Person">
					<a href="/" title="Home">
						<img src="/images/me.jpg" property="image" alt="Picture of Dan Klco" width="120" height="120" class="pull-left img-rounded img-responsive"  />
					</a>
					<h1 property="name">
                        Daniel Klco
                    </h1>
                    <p style="font-size: 18px;" property="description">
                        <span class="glyphicon glyphicon-globe"><span class="text-hide">I'm based out of</span></span>&nbsp;&nbsp;<span property="homeLocation">Cincinnati, OH</span><br/>
                        <span class="glyphicon glyphicon-briefcase"><span class="text-hide">I work as the</span></span>&nbsp;&nbsp;<span property="jobTitle">Adobe Digital Marketing Solution Lead</span> at <a href="http://www.perficient.com" property="worksFor" title="My Employer" typeof="Organization">Perficient</a>
                    </p>
				</div>
			</header>
			{% include nav.html %}
			{{ content }}
			<footer class="transparent-block-inverse row">
				Copyright &copy; 2009 - {{site.time | date: '%Y' }} &mdash; {{ site.author }}
                <form class="form-inline footer-search" action="/search" method="get">
                    <div class="input-group">
                        <input class="form-control" name="q" type="text" placeholder="Search..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-inverse" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
				<br/>
				<hr/>
				<br/>
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US" target="_blank" >
					<img alt="Creative Commons License" width="88" height="31" src="/images/cc-license.png" />
				</a>
                <span class="pull-right">
                    <a href="http://www.linkedin.com/in/danielklco/" target="_blank" title="Find me on LinkedIn!" class="btn btn-default" id="Linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/KlcoDanR" title="Find me on Twitter!" target="_blank" class="btn btn-default" id="Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://plus.google.com/109214091683324297793?rel=author" target="_blank" title="Find me on Google Plus!" class="btn btn-default" id="Google-plus">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/klcodanr" title="Find me on GitHub!" target="_blank" class="btn btn-default" id="Github">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="/feed.xml" title="Follow my RSS Feed" target="_blank" class="btn btn-default" id="rss">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                    </a>
                </span>
			</footer>
		</div>
{% bundle %}[//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js, /js/bootstrap.min.js, /js/custom.js] {% endbundle %}
		<script>
			var track = true;
			try {
				if (window.location.search == '?track=false') {
					window.localStorage.setItem('track', 'false');
					track = false;
				}
				if (window.localStorage.getItem('track') == 'false') {
					track = false;
				}
			} catch(e) {
				// problem occurred with local storage
			}
			var _gaq = _gaq || [];
			if (track) {
				_gaq.push(['_setAccount', 'UA-37209568-1']);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			}
		</script>
	</body>
</html>
