---
layout: default
---

<section>
	<div class="two columns">
		<h4>Find Me</h4>
	</div>
	<div class="fourteen columns">
		<div id="social-networks">
			<a href="https://www.facebook.com/klcodanr" title="Find me on Facebook!" class="icon" id="Facebook"></a>
			<a href="http://www.linkedin.com/in/danielklco/" title="Find me on LinkedIn!" class="icon" id="Linkedin"></a>
			<a href="https://twitter.com/KlcoDanR" title="Find me on Twitter!" class="icon" id="Twitter"></a>
			<a href="https://plus.google.com/109214091683324297793/posts" title="Find me on Google Plus!" class="icon" id="Google-plus"></a>
			<a href="https://github.com/klcodanr" title="Find me on GitHub!" class="icon" id="Github"></a>
		</div>
	</div>
	<div class="clear"></div>
</section>
<section>
	<div class="two columns">
		<h4>Recent Activity</h4>
	</div>
	<div class="ten columns">
		{{ content }}
	</div>
	<div class="four columns">
		<h4>Twitter</h4>
		<div id="tweets">
		</div>
	</div>
	<div class="clear"></div>
</section>
<script>
	jQuery(function($){
		$("#tweets").tweet({
			username: "klcodanr",
			count: 3
		});
	});
</script>