---
layout: default
---

<section class="row">
	<div class="col-md-12 transparent-block-default">
		<article class="post" typeof="BlogPosting">
			<header class="row">
				<div class="col-md-2">
					{% if page.thumbnail %}
						<img property="image" class="img-responsive img-rounded" src="{{ page.thumbnail }}" title="{{page.title}}"/>
					{% else %}
						<img property="image" class="img-responsive img-rounded" src="/images/me.jpg" title="{{page.title}}"/>
					{% endif %}
				</div>
				<div class="col-md-10">
					<h3 property="headline">{{ page.title }}</h3>
					<em>
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span> By <span class="author" property="author" typeOf="Person">{{ site.author }}</span>&nbsp;on&nbsp;<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <time datetime='{{page.date | date: "%Y-%m-%d"}}'><span property="datePublished">{{page.date | date: "%B %d, %Y"}}</span></time>
					</em>
					{% if page.original %}<div class="original">Original URL: <a href="{{ page.original }}">{{ page.original }}</a></div>{% endif %}
				</div>
			</header>
			<hr class="large" />
			<div class="content">
				{{ content }}
			</div>
			<hr class="large"/>
				<h4>Tags</h4>
				<div class="tags" property="keywords">
		  			{% for tag in page.tags %}
		  				<a href="/tag/{{ tag | UrlEncode }}">{{ tag }}</a>&nbsp;&nbsp;
		  			{% endfor %}
	  			</div>
			<hr class="large"/>
			<div class="comments">
				<div id="disqus_thread"></div>
				<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				var disqus_shortname = 'danklco'; // required: replace example with your forum shortname
				var disqus_url = 'http://www.danklco.com{{ page.url }}';
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			</div>
		</article>
	</div>
</section>