---
layout: default
---
<div class="row">

    <div class="col-sm-8">
        <section class=" transparent-block-default">
            <h2>{{page.title}}</h2>
        </section>

        {% for post in site.posts %}
        {% for tag in post.tags %}
            {% if tag == page.tag %}
              {% include post.html %}
            {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <aside class="transparent-block-default col-sm-4">
        {% include twitter.html %}
    </aside>
</div>